{% extends 'base.html' %}
{% load static %}



{% block content %}

  <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">

  {% if user.is_authenticated %}
    <p style="text-align:center;">Thank you! You're already logged in.</p>
  {% else %}
    <section>
      <div class="form">
        <h2>Login your account</h2>
        <form  action="{% url 'login' %}" method="post" class="login">
          {% csrf_token %}
          <input type="text" name="username" placeholder="Username"> <br>
          <input type="password" name="password" placeholder="Password"> <br>
          <input type="submit" name="button" Value="Login">
        </form>
      </div>
      <div class="graphic">
        <img src="{% static 'assets/images/wine2.svg' %}" alt="">
      </div>
    </section>
    {% endif %}
{% endblock %}
