{% extends 'base.html' %}
{% load static %}



{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">

<section>
  <div class="form">
    <h2>Register your account</h2>
    <form method="post"  class="login">

      {% csrf_token %}
      <input type="text" name="username" placeholder="Username"> <br>
      <input type="password" name="password1" placeholder="Password"> <br>
      <input type="password" name="password2" placeholder="Confirm Password"> <br>
      <input type="submit" name="button" Value="Register">
    </form>
  </div>
  <div class="graphic">
    <img src="{% static 'assets/images/wine2.svg' %}" alt="">
  </div>
</section>


{% endblock %}
