{% extends 'base.html' %}
{% load static %}
{% load times %}

{% block content %}

  <link rel="stylesheet" href="{% static 'assets/css/review.css'%}">

<h2 class="heading">{{ review.wine.name }}</h2>

<section>


  <div class="star-rating" data-star="5">

    {% for i in review.rating|times %}
      <i class="fa fa-star" aria-hidden="true"></i>
    {%endfor%}

  </div>

  <div class="review">
    By <strong>{{ review.user_name }}</strong>
  </div>

  <div class="time">
    {{ review.pub_date }}
  </div>

  <div class="comment">
    {{ review.comments }}
  </div>

</section>

{% endblock %}
