{% extends 'base.html' %}
{% load static %}
{% load times %}

{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/wine_list.css' %}">

  <h2 class="heading">Wine List</h2>

  {% if wine_list %}
    <section>

      {% for wine in wine_list %}
        <div class="card">
          <a href="{% url 'reviews:wine_detail' wine.id %}">
            <h2>{{ wine.name }}</h2>
            <div class="reviews">
              {{ wine.review_set.count }} Reviews
            </div>
            <div class="star-rating">
              {% for i in wine.average_rating|times %}
                <i class="fa fa-star" aria-hidden="true"></i>
              {%endfor%}
            </div>
          </a>
        </div>
        {% endfor %}

    </section>
    {% else %}
        <p>No wines are available.</p>
    {% endif %}

{% endblock %}
